In [1]:
import pandas as pd
from datetime import datetime, timedelta
import pandas as pd
from catboost import CatBoostClassifier,Pool
from metric import decision_prices

Загружаем тестовую выборку

In [2]:
test = pd.read_excel('test.xlsx')
test

           dt  Цена на арматуру
0  2022-09-05             46000
1  2022-09-12             46000
2  2022-09-19             46000
3  2022-09-26             45500
4  2022-10-03             45500
5  2022-10-10             45000
6  2022-10-17             44000
7  2022-10-24             43000
8  2022-10-31             42000
9  2022-11-07             41500
10 2022-11-14             41000
11 2022-11-21             40000
12 2022-11-28             40000
13 2022-12-05             40500
14 2022-12-12             41700
15 2022-12-19             41700
16 2022-12-26             42500
17 2023-01-02             42700
18 2023-01-09             42700
19 2023-01-16             42700
20 2023-01-23             42800
21 2023-01-30             42800
22 2023-02-06             44500
23 2023-02-13             44500
24 2023-02-20             46000
25 2023-02-27             49200
26 2023-03-06             53700
27 2023-03-13             55500

In [3]:
test['Data_Time'] = pd.to_datetime(test.dt)
test['quarter'] = test['Data_Time'].dt.quarter
test['month'] = test['Data_Time'].dt.month
test['year'] = test['Data_Time'].dt.year
test['dayofyear'] = test['Data_Time'].dt.dayofyear
test['dayofmonth'] = test['Data_Time'].dt.day
test['weekofyear'] = test['Data_Time'].dt.isocalendar().week

# Делаем поля времени трейна категориальными
for col in ['quarter',
       'month',  'weekofyear']:
    test[col] = test[col].astype('category')
# набор признаков времени на вход
columns_to_train=['quarter',
       'month',  'year', 'dayofyear', 'dayofmonth', 'weekofyear']
test

,dt,Цена на арматуру,Data_Time,quarter,month,year,dayofyear,dayofmonth,weekofyear
0,2022-09-05,46000,2022-09-05,3,9,2022,248,5,36
1,2022-09-12,46000,2022-09-12,3,9,2022,255,12,37
2,2022-09-19,46000,2022-09-19,3,9,2022,262,19,38
3,2022-09-26,45500,2022-09-26,3,9,2022,269,26,39
4,2022-10-03,45500,2022-10-03,4,10,2022,276,3,40
5,2022-10-10,45000,2022-10-10,4,10,2022,283,10,41
6,2022-10-17,44000,2022-10-17,4,10,2022,290,17,42
7,2022-10-24,43000,2022-10-24,4,10,2022,297,24,43
8,2022-10-31,42000,2022-10-31,4,10,2022,304,31,44
9,2022-11-07,41500,2022-11-07,4,11,2022,311,7,45
10,2022-11-14,41000,2022-11-14,4,11,2022,318,14,46
11,2022-11-21,40000,2022-11-21,4,11,2022,325,21,47
12,2022-11-28,40000,2022-11-28,4,11,2022,332,28,48
13,2022-12-05,40500,2022-12-05,4,12,2022,339,5,49
14,2022-12-12,41700,2022-12-12,4,12,2022,346,12,50
15,2022-12-19,41700,2022-12-19,4,12,2022,353,19,51
16,2022-12-26,42500,2022-12-26,4,12,2022,360,26,52
17,2023-01-02,42700,2023-01-02,1,1,2023,2,2,1
18,2023-01-09,42700,2023-01-09,1,1,2023,9,9,2
19,2023-01-16,42700,2023-01-16,1,1,2023,16,16,3
20,2023-01-23,42800,2023-01-23,1,1,2023,23,23,4
21,2023-01-30,42800,2023-01-30,1,1,2023,30,30,5
22,2023-02-06,44500,2023-02-06,1,2,2023,37,6,6
23,2023-02-13,44500,2023-02-13,1,2,2023,44,13,7
24,2023-02-20,46000,2023-02-20,1,2,2023,51,20,8
25,2023-02-27,49200,2023-02-27,1,2,2023,58,27,9
26,2023-03-06,53700,2023-03-06,1,3,2023,65,6,10
27,2023-03-13,55500,2023-03-13,1,3,2023,72,13,11

Считываем модель

In [4]:
best_model = CatBoostClassifier()
best_model.load_model('catboost_model.bin')

In [5]:
test['Prognoz']=best_model.predict(test[columns_to_train])
test

,dt,Цена на арматуру,Data_Time,quarter,month,year,dayofyear,dayofmonth,weekofyear,Prognoz
0,2022-09-05,46000,2022-09-05,3,9,2022,248,5,36,больше
1,2022-09-12,46000,2022-09-12,3,9,2022,255,12,37,больше
2,2022-09-19,46000,2022-09-19,3,9,2022,262,19,38,меньше
3,2022-09-26,45500,2022-09-26,3,9,2022,269,26,39,меньше
4,2022-10-03,45500,2022-10-03,4,10,2022,276,3,40,больше
5,2022-10-10,45000,2022-10-10,4,10,2022,283,10,41,больше
6,2022-10-17,44000,2022-10-17,4,10,2022,290,17,42,меньше
7,2022-10-24,43000,2022-10-24,4,10,2022,297,24,43,больше
8,2022-10-31,42000,2022-10-31,4,10,2022,304,31,44,меньше
9,2022-11-07,41500,2022-11-07,4,11,2022,311,7,45,меньше
10,2022-11-14,41000,2022-11-14,4,11,2022,318,14,46,меньше
11,2022-11-21,40000,2022-11-21,4,11,2022,325,21,47,меньше
12,2022-11-28,40000,2022-11-28,4,11,2022,332,28,48,меньше
13,2022-12-05,40500,2022-12-05,4,12,2022,339,5,49,меньше
14,2022-12-12,41700,2022-12-12,4,12,2022,346,12,50,больше
15,2022-12-19,41700,2022-12-19,4,12,2022,353,19,51,больше
16,2022-12-26,42500,2022-12-26,4,12,2022,360,26,52,больше
17,2023-01-02,42700,2023-01-02,1,1,2023,2,2,1,больше
18,2023-01-09,42700,2023-01-09,1,1,2023,9,9,2,меньше
19,2023-01-16,42700,2023-01-16,1,1,2023,16,16,3,больше
20,2023-01-23,42800,2023-01-23,1,1,2023,23,23,4,меньше
21,2023-01-30,42800,2023-01-30,1,1,2023,30,30,5,больше
22,2023-02-06,44500,2023-02-06,1,2,2023,37,6,6,больше
23,2023-02-13,44500,2023-02-13,1,2,2023,44,13,7,больше
24,2023-02-20,46000,2023-02-20,1,2,2023,51,20,8,больше
25,2023-02-27,49200,2023-02-27,1,2,2023,58,27,9,больше
26,2023-03-06,53700,2023-03-06,1,3,2023,65,6,10,больше
27,2023-03-13,55500,2023-03-13,1,3,2023,72,13,11,больше

In [6]:
# Здесь нужно вставка алгоритма!

test.loc[::2,'Объем'] = 2 
test['Объем'] = test['Объем'].fillna(0)

In [7]:
test

,dt,Цена на арматуру,Data_Time,quarter,month,year,dayofyear,dayofmonth,weekofyear,Prognoz,Объем
0,2022-09-05,46000,2022-09-05,3,9,2022,248,5,36,больше,2.0
1,2022-09-12,46000,2022-09-12,3,9,2022,255,12,37,больше,0.0
2,2022-09-19,46000,2022-09-19,3,9,2022,262,19,38,меньше,2.0
3,2022-09-26,45500,2022-09-26,3,9,2022,269,26,39,меньше,0.0
4,2022-10-03,45500,2022-10-03,4,10,2022,276,3,40,больше,2.0
5,2022-10-10,45000,2022-10-10,4,10,2022,283,10,41,больше,0.0
6,2022-10-17,44000,2022-10-17,4,10,2022,290,17,42,меньше,2.0
7,2022-10-24,43000,2022-10-24,4,10,2022,297,24,43,больше,0.0
8,2022-10-31,42000,2022-10-31,4,10,2022,304,31,44,меньше,2.0
9,2022-11-07,41500,2022-11-07,4,11,2022,311,7,45,меньше,0.0
10,2022-11-14,41000,2022-11-14,4,11,2022,318,14,46,меньше,2.0
11,2022-11-21,40000,2022-11-21,4,11,2022,325,21,47,меньше,0.0
12,2022-11-28,40000,2022-11-28,4,11,2022,332,28,48,меньше,2.0
13,2022-12-05,40500,2022-12-05,4,12,2022,339,5,49,меньше,0.0
14,2022-12-12,41700,2022-12-12,4,12,2022,346,12,50,больше,2.0
15,2022-12-19,41700,2022-12-19,4,12,2022,353,19,51,больше,0.0
16,2022-12-26,42500,2022-12-26,4,12,2022,360,26,52,больше,2.0
17,2023-01-02,42700,2023-01-02,1,1,2023,2,2,1,больше,0.0
18,2023-01-09,42700,2023-01-09,1,1,2023,9,9,2,меньше,2.0
19,2023-01-16,42700,2023-01-16,1,1,2023,16,16,3,больше,0.0
20,2023-01-23,42800,2023-01-23,1,1,2023,23,23,4,меньше,2.0
21,2023-01-30,42800,2023-01-30,1,1,2023,30,30,5,больше,0.0
22,2023-02-06,44500,2023-02-06,1,2,2023,37,6,6,больше,2.0
23,2023-02-13,44500,2023-02-13,1,2,2023,44,13,7,больше,0.0
24,2023-02-20,46000,2023-02-20,1,2,2023,51,20,8,больше,2.0
25,2023-02-27,49200,2023-02-27,1,2,2023,58,27,9,больше,0.0
26,2023-03-06,53700,2023-03-06,1,3,2023,65,6,10,больше,2.0
27,2023-03-13,55500,2023-03-13,1,3,2023,72,13,11,больше,0.0

In [ ]:
test=test['dt','Цена на арматуру','Объем']

In [6]:
test.to_excel('submission.xlsx', index=False)

Считаем затраты на арматуру

In [7]:
test_submission = pd.read_excel('submission.xlsx')

In [8]:
decision_prices(test_submission)

1236800